.courses-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}


@media (max-width: 768px) {
  .courses-container {
    flex-direction: column;
    align-items: center;
  }
}

.home {
  text-align: center;
  padding: 20px;
}
